.header {
  margin-top   : 10px 0;

  display        : flex;
  flex-direction : row;
  justify-content: center;
  align-items    : center;

  h1 {
    padding-top: 10px;
  }

  img {
    width: 80px;
  }
}

.user-info {
  img {
    border: 1px solid #7a7e82;
    border-radius: 50%;
    width: 100px;
  }
}
